:root {
    --ebctaf1-dark: #000000;
    --ebctaf1-whatsapp-color: #25D366;

    --ebctaf1-primary: rgb(37, 52, 63);
    --ebctaf1-secondary: #0F294E;
    --ebctaf1-ctaf-text: #ffffff;
    --ebctaf1-gray: #cccccc;

    --ebctaf1-space-xs: .4rem;
    --ebctaf1-space-sm: .8rem;
    --ebctaf1-space-md: 1.2rem;

    --ebctaf1-space-lg: 2rem;
    --ebctaf1-br-lg: 50px;
    --ebctaf1-transition: .35s cubic-bezier(.4, 0, .2, 1);
}

body {

    direction: rtl;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ebctaf1-contact-buttons {

    display: flex;

    justify-content: center;

    gap: var(--ebctaf1-space-xs);

    flex-wrap: wrap;
}

.ebctaf1-btn {

    display: flex;

    align-items: center;

    gap: var(--ebctaf1-space-xs);

    text-decoration: none;

    font-size: clamp(.9rem, 2vw, 1.2rem);

    font-weight: clamp(500, 2vw, 700);

    padding: var(--ebctaf1-space-xs) var(--ebctaf1-space-sm);

    border-radius: var(--ebctaf1-br-lg);

    border: 2px solid transparent;

    transition: var(--transition);

    direction: ltr;

}


.ebctaf1-whatsapp {

    background: var(--ebctaf1-whatsapp-color);

    color: var(--ebctaf1-ctaf-text);

    box-shadow: 0 8px 20px rgba(37, 211, 102, .35);

}



.ebctaf1-call {

    background: var(--ebctaf1-ctaf-text);

    color: var(--ebctaf1-dark);

    border-color: var(--ebctaf1-gray);

    box-shadow: 0 8px 20px rgba(0, 0, 0, .12);
}





.ebctaf1-btn-icon .fa-whatsapp {
    font-size: clamp(1.5rem, 2.3vw, 1.5rem);

}