:root {
    --ebftr1-white: #ffffff;
    --ebftr1-dark: #000000;
    --ebftr1-primary: #0f294d;
    --ebftr1-secondary:#165dc0;
    --ebftr1-gray: #cccccc;

    --ebftr1-container-width: 1440px;
    /* ===== SPACING ===== */
    --ebftr1-space-xs: .4rem;
    --ebftr1-space-sm: .8rem;
    --ebftr1-space-md: 1.2rem;
    --ebftr1-space-lg: 2rem;
    --ebftr1-space-xl: 3rem;

    /* ===== FONT SCALE ===== */

    --ebftr1-fs-lg: 1.125rem;

    /* ===== TRANSITION ===== */
    --ebftr1-transition: .35s cubic-bezier(.4, 0, .2, 1);

    /* ====== border radius === */
    --ebftr1-br-sm: 12px;
    --ebftr1-br-lg: 50px;
    --ebftr1-radius-md: 10px;

}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    direction: rtl;
}

/* --- Main Footer --- */
.ebftr1-main-footer {
    background-color: var(--ebftr1-primary);
    /* نفس خلفية قسم الجودة */
    padding: var(--ebftr1-space-xl) 0 var(--ebftr1-space-md);
    margin-top: var(--ebftr1-space-md);
    color: var(--ebftr1-white);
    border-top: 3px solid var(--ebftr1-secondary);
    border-radius: var(--ebftr1-br-sm) var(--ebftr1-br-sm) 0 0;
}

.ebftr1-container {
    max-width: 1200px;
    margin: 0 auto;

}

.ebftr1-footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
    gap: var(--ebftr1-space-xl);
    padding-bottom: var(--ebftr1-space-xl);
}

.ebftr1-footer-site-title {
    font-size: var(--ebftr1-fs-xl);
    font-weight: 800;
    margin-bottom: var(--ebftr1-space-lg);
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--ebftr2-white);
}

.ebftr1-footer-title {
    font-size: var(--ebftr1-fs-lg);
    font-weight: 600;
    margin-bottom: var(--ebftr1-space-lg);
    position: relative;
    padding-bottom: 10px;
}

.ebftr1-footer-title::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 3px;
    background-color: var(--ebftr1-secondary);
}

.ebftr1-footer-desc {
    color: var(--ebftr1-white);
    line-height: 1.8;
    margin-bottom: var(--ebftr1-space-lg);
}

.ebftr1-social-links {
    display: flex;
    gap: var(--ebftr1-space-md);
}

.ebftr1-social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--ebftr1-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ebftr1-primary);
    transition: var(--transition);

    font-size: large;
    font-weight: bold;
}

.ebftr1-social-icon:hover {
    background: var(--ebftr1-secondary);
    color: var(--ebftr1-white);
}

.ebftr1-footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--ebftr1-space-sm);
}

.ebftr1-footer-links a {
    color: var(--ebftr1-white);
    text-decoration: none;
    transition: var(--transition);
}

.ebftr1-footer-links a:hover {
    color: var(--ebftr1-secondary);
}

.ebftr1-footer-contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--ebftr1-space-md);
}

.ebftr1-footer-contact li i {
    font-weight: 400;
    font-size: var(--ebftr1-fs-xl);
}

.ebftr1-footer-contact li {
    display: flex;
    align-items: center;
    gap: var(--ebftr1-space-md);
    color: var(--ebftr1-white);
}

.ebftr1-footer-bottom {
    text-align: center;
    padding-top: var(--ebftr1-space-lg);
    border-top: 1px solid var(--ebftr1-secondary);
    color: var(--ebftr1-white);
    font-size: var(--ebftr1-fs-sm);
}

/* --- Responsive ebftr1-breakpoints --- */
@media (max-width: 1024px) {
    .ebftr1-footer-grid {
        grid-template-columns: 1fr 1fr;
    }

    .ebftr1-container {
        padding-inline: var(--ebftr1-space-md);
    }
}

@media (max-width: 768px) {
    .ebftr1-footer-grid {
        grid-template-columns: 1fr;
        gap: var(--ebftr1-space-xl);
        text-align: center;
    }

    .ebftr1-footer-title::after {
        right: 50%;
        transform: translateX(50%);
    }

    .ebftr1-social-links {
        justify-content: center;
    }

    .ebftr1-footer-contact li {
        justify-content: center;
    }
}